* {
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }

                    :root {
                        --width: 320px;
                        --height: 520px;
                    }
                    

                    .container {
                        width: 320px;
                        height: 520px;
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #7a8599;
                        background-color: rgb(218, 239, 251);
                    }
                    
   .clicktru {
                        z-index:9999; width:100%; height:100%; position:absolute;
                    }

                        a{
                            text-decoration:none;
                    } 

                        #sd_btn_Click-Through-URL:empty{display:none;} 
                    

                        .contentSection {
                            width: 322px;
                            height: 207px;
                            position: relative;
                            left: -1px;
                            top: 314px;
                            overflow: hidden;
                        }
                                    

                                    .imageBox {
                                        width: 319px;
                                        height: 223px;
                                        position: absolute;
                                        left: -1px;
                                        top: -1px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: inherit;
                                        -webkit-clip-path: inherit
                                    }
                                    .imageBox img {
                                        width: 319px;
                                        height: 223px;
                                        object-fit: cover;
                                    }
                                

                            .shape1 {
                                width: 313px;
                                height: 514px;
                                position: absolute;
                                left: 3px;
                                top: 2px;
                                background-color: rgb(0, 107, 138, 255);
                                border-radius: initial;
                                clip-path: polygon(2px 0px, 0px 512px, 312px 513px, 312px 1px);
                                -webkit-clip-path: polygon(2px 0px, 0px 512px, 312px 513px, 312px 1px)
                            
                            }
                                        
.cta {
    width: 319px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 141px;
    justify-content: center;
}
.button {
    min-width: 124px;
    max-width: 255.20px;
    max-height: 36px;
    font-size: 13.88px;
    font-family: 'NunitoSans', serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 29, 60, 255);
    padding: 0.5em 0.65em 0.51em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.00em;
}

                                .subHeading1,.subHeading2,.subHeading3 {
                                    width: 237px;
                                    height: 106px;
                                    position: absolute;
                                    left: 43px;
                                    top: 22px;
                                    font-family: 'NunitoSans', serif;
                                    font-weight: 600;
                                    font-style: normal;
                                    font-size: 19.01px;
                                    color: rgb(33, 33, 33);
                                    line-height: 1.16em;
                                    text-align: center;
                                }
                                        

                                .mainHeading {
                                    width: 250px;
                                    height: 136px;
                                    position: absolute;
                                    left: 36px;
                                    top: 34px;
                                    font-family: 'NunitoSans', serif;
                                    font-weight: 800;
                                    font-style: normal;
                                    font-size: 43.00px;
                                    color: rgb(19, 29, 59);
                                    line-height: 1.12em;
                                    text-align: center;
                                }
                                        

                            .logo {
                                width: 238px;
                                height: 77px;
                                position: absolute;
                                left: 40px;
                                top: 230px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .logo img{
                                max-width: 238px;
                                max-height: 77px;
                            }
                            