* {
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }

                    :root {
                        --width: 960px;
                        --height: 250px;
                    }
                    

                    .container {
                        width: 960px;
                        height: 250px;
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #7a8599;
                        background-color: rgb(8, 105, 231);
                    }
                    
   .clicktru {
                        z-index:9999; width:100%; height:100%; position:absolute;
                    }

                        a{
                            text-decoration:none;
                    } 

                        #sd_btn_Click-Through-URL:empty{display:none;} 
                    

                            .shape1 {
                                width: 332px;
                                height: 222px;
                                position: absolute;
                                left: 608px;
                                top: 18px;
                                background-color: rgb(192, 209, 247, 255);
                                border-radius: initial;
                                clip-path: polygon(0px 2px, 1px 222px, 332px 222px, 331px 0px);
                                -webkit-clip-path: polygon(0px 2px, 1px 222px, 332px 222px, 331px 0px)
                            
                            }
                                        

                        .contentSection {
                            width: 372px;
                            height: 253px;
                            position: relative;
                            left: 260px;
                            top: -2px;
                            overflow: hidden;
                        }
                                    

                                    .imageBox {
                                        width: 330px;
                                        height: 220px;
                                        position: absolute;
                                        left: 618px;
                                        top: 8px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: inherit;
                                        -webkit-clip-path: inherit
                                    }
                                    .imageBox img {
                                        width: 330px;
                                        height: 220px;
                                        object-fit: cover;
                                    }
                                
.cta {
    width: auto;
    display: flex;
    position: absolute;
    left: 0px;
    top: 153px;
    text-align: center;
}
.button {
    min-width: 143px;
    max-width: 145.00px;
    max-height: 41px;
    font-size: 16.02px;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 209, 247, 255);
    padding: 0.5em 0.65em 0.51em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.00em;
}

                                .subHeading1,.subHeading2,.subHeading3 {
                                    width: 286px;
                                    height: 75px;
                                    position: absolute;
                                    left: 1px;
                                    top: 60px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 600;
                                    font-style: normal;
                                    font-size: 18.01px;
                                    color: rgb(244, 244, 244);
                                    line-height: 1.11em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                                .mainHeading {
                                    width: 266px;
                                    height: 91px;
                                    position: absolute;
                                    left: 1px;
                                    top: 81px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 700;
                                    font-style: normal;
                                    font-size: 30.00px;
                                    color: rgb(255, 255, 255);
                                    line-height: 1.13em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                            .logo {
                                width: 220px;
                                height: 168px;
                                position: absolute;
                                left: 19px;
                                top: 39px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                            }
                            .logo img{
                                max-width: 220px;
                                max-height: 168px;
                            }
                            