* {
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }

                    :root {
                        --width: 320px;
                        --height: 520px;
                    }
                    

                    .container {
                        width: 320px;
                        height: 520px;
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #7a8599;
                        background-color: rgb(8, 105, 231);
                    }
                    
   .clicktru {
                        z-index:9999; width:100%; height:100%; position:absolute;
                    }

                        a{
                            text-decoration:none;
                    } 

                        #sd_btn_Click-Through-URL:empty{display:none;} 
                    

                            .shape1 {
                                width: 279px;
                                height: 227px;
                                position: absolute;
                                left: 11px;
                                top: 280px;
                                background-color: rgb(192, 209, 247, 255);
                                border-radius: initial;
                                clip-path: polygon(0px 2px, 1px 227px, 279px 227px, 278px 0px);
                                -webkit-clip-path: polygon(0px 2px, 1px 227px, 279px 227px, 278px 0px)
                            
                            }
                                        

                        .contentSection {
                            width: 322px;
                            height: 172px;
                            position: relative;
                            left: -1px;
                            top: 102px;
                            overflow: hidden;
                        }
                                    

                                    .imageBox {
                                        width: 277px;
                                        height: 226px;
                                        position: absolute;
                                        left: 20px;
                                        top: 271px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: inherit;
                                        -webkit-clip-path: inherit
                                    }
                                    .imageBox img {
                                        width: 277px;
                                        height: 226px;
                                        object-fit: cover;
                                    }
                                
.cta {
    width: 319px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 101px;
    justify-content: center;
}
.button {
    min-width: 142px;
    max-width: 255.20px;
    max-height: 40px;
    font-size: 15.81px;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 209, 247, 255);
    padding: 0.5em 0.65em 0.51em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.00em;
}

                                .subHeading1,.subHeading2,.subHeading3 {
                                    width: 274px;
                                    height: 71px;
                                    position: absolute;
                                    left: 22px;
                                    top: 12px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 600;
                                    font-style: normal;
                                    font-size: 17.01px;
                                    color: rgb(244, 244, 244);
                                    line-height: 1.12em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                                .mainHeading {
                                    width: 274px;
                                    height: 93px;
                                    position: absolute;
                                    left: 22px;
                                    top: 31px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 700;
                                    font-style: normal;
                                    font-size: 31.00px;
                                    color: rgb(255, 255, 255);
                                    line-height: 1.13em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                            .logo {
                                width: 251px;
                                height: 85px;
                                position: absolute;
                                left: 11px;
                                top: 9px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .logo img{
                                max-width: 251px;
                                max-height: 85px;
                            }
                            