* {
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }

                    :root {
                        --width: 970px;
                        --height: 250px;
                    }
                    

                    .container {
                        width: 970px;
                        height: 250px;
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #7a8599;
                        background-color: rgb(33, 49, 92);
                    }
                    
   .clicktru {
                        z-index:9999; width:100%; height:100%; position:absolute;
                    }

                        a{
                            text-decoration:none;
                    } 

                        #sd_btn_Click-Through-URL:empty{display:none;} 
                    

                        .contentSection {
                            width: 472px;
                            height: 253px;
                            position: relative;
                            left: 202px;
                            top: -2px;
                            overflow: hidden;
                        }
                                    

                                    .imageBox {
                                        width: 378px;
                                        height: 249px;
                                        position: absolute;
                                        left: 590px;
                                        top: -1px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: polygon(29.0px 1.0px, 2.0px 130.0px, 30.0px 251.0px, 380.0px 249.0px, 378.0px 0.0px);
                                        -webkit-clip-path: polygon(29.0px 1.0px, 2.0px 130.0px, 30.0px 251.0px, 380.0px 249.0px, 378.0px 0.0px)
                                    }
                                    .imageBox img {
                                        width: 378px;
                                        height: 249px;
                                        object-fit: cover;
                                    }
                                

                                    .imageBox {
                                        width: 378px;
                                        height: 249px;
                                        position: absolute;
                                        left: 590px;
                                        top: -1px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: polygon(29.0px 1.0px, 2.0px 130.0px, 30.0px 251.0px, 380.0px 249.0px, 378.0px 0.0px);
                                        -webkit-clip-path: polygon(29.0px 1.0px, 2.0px 130.0px, 30.0px 251.0px, 380.0px 249.0px, 378.0px 0.0px)
                                    }
                                    .imageBox img {
                                        width: 378px;
                                        height: 249px;
                                        object-fit: cover;
                                    }
                                

                                .mainHeading {
                                    width: 252px;
                                    height: 81px;
                                    position: absolute;
                                    left: 13px;
                                    top: 86px;
                                    font-family: 'Anton', serif;
                                    font-weight: 400;
                                    font-style: normal;
                                    font-size: 40.00px;
                                    color: rgb(255, 255, 255);
                                    line-height: 1.1em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                                .subHeading1,.subHeading2,.subHeading3 {
                                    width: 279px;
                                    height: 87px;
                                    position: absolute;
                                    left: 14px;
                                    top: 58px;
                                    font-family: 'Poppins', serif;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-size: 19.01px;
                                    color: rgb(244, 244, 244);
                                    line-height: 1.16em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        
.cta {
    width: auto;
    display: flex;
    position: absolute;
    left: 14px;
    top: 158px;
    text-align: center;
}
.button {
    min-width: 133px;
    max-width: 135.00px;
    max-height: 41px;
    font-size: 16.02px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238, 255);
    padding: 0.5em 0.65em 0.51em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.00em;
}

                            .logo {
                                width: 173px;
                                height: 180px;
                                position: absolute;
                                left: 18px;
                                top: 33px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                            }
                            .logo img{
                                max-width: 173px;
                                max-height: 180px;
                            }
                            