* {
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                    }

                    :root {
                        --width: 160px;
                        --height: 600px;
                    }
                    

                    .container {
                        width: 160px;
                        height: 600px;
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #7a8599;
                        background-color: rgb(9, 106, 231);
                    }
                    
   .clicktru {
                        z-index:9999; width:100%; height:100%; position:absolute;
                    }

                        a{
                            text-decoration:none;
                    } 

                        #sd_btn_Click-Through-URL:empty{display:none;} 
                    

                            .shape1 {
                                width: 132px;
                                height: 262px;
                                position: absolute;
                                left: 4px;
                                top: 323px;
                                background-color: rgb(192, 209, 247, 255);
                                border-radius: initial;
                                clip-path: polygon(2px 0px, 0px 261px, 132px 262px, 132px 1px);
                                -webkit-clip-path: polygon(2px 0px, 0px 261px, 132px 262px, 132px 1px)
                            
                            }
                                        

                        .contentSection {
                            width: 162px;
                            height: 198px;
                            position: relative;
                            left: -1px;
                            top: 118px;
                            overflow: hidden;
                        }
                                    

                                    .imageBox {
                                        width: 134px;
                                        height: 260px;
                                        position: absolute;
                                        left: 11px;
                                        top: 313px;
                                        z-index: 1;
                                        overflow: hidden;
                                        border-radius: initial;
                                        clip-path: polygon(5.0px 0.0px, 0.0px 5.0px, 0.0px 258.0px, 134.0px 262.0px, 136.0px 2.0px);
                                        -webkit-clip-path: polygon(5.0px 0.0px, 0.0px 5.0px, 0.0px 258.0px, 134.0px 262.0px, 136.0px 2.0px)
                                    }
                                    .imageBox img {
                                        width: 134px;
                                        height: 260px;
                                        object-fit: cover;
                                    }
                                
.cta {
    width: 159px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 122px;
    justify-content: center;
}
.button {
    min-width: 108px;
    max-width: 127.20px;
    max-height: 31px;
    font-size: 12.01px;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 209, 247, 255);
    padding: 0.5em 0.65em 0.51em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.00em;
}

                                .subHeading1,.subHeading2,.subHeading3 {
                                    width: 125px;
                                    height: 98px;
                                    position: absolute;
                                    left: 14px;
                                    top: 8px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 600;
                                    font-style: normal;
                                    font-size: 15.01px;
                                    color: rgb(244, 244, 244);
                                    line-height: 1.13em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                                .mainHeading {
                                    width: 129px;
                                    height: 97px;
                                    position: absolute;
                                    left: 13px;
                                    top: 33px;
                                    font-family: 'Raleway', serif;
                                    font-weight: 700;
                                    font-style: normal;
                                    font-size: 22.00px;
                                    color: rgb(255, 255, 255);
                                    line-height: 1.2em;
                                    display: flex;
                                    align-items: center;
                                    text-align: left;
                                }
                                        

                            .logo {
                                width: 132px;
                                height: 98px;
                                position: absolute;
                                left: 3px;
                                top: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .logo img{
                                max-width: 132px;
                                max-height: 98px;
                            }
                            